:root {
  --color-azul: #0478f8;
  --color-blanco: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
  --color-texto: #ffffff;
  --color-fondo: #06242d;
}

* {
  box-sizing: border-box;
}

/* Estilos específicos usados en el proyecto */
.titulo {
  display: flex;
  align-self: center;
  height: 20%;
  width: auto;
}
